* {
    margin: 0;
    padding: 0;
}

body {
  background: url('../assets/images/background_product2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.col-md-3{
    margin:0 5px;
}
.status-titles {
    background: rgb(196, 195, 208);
    border-bottom: 1px solid #000;
    height: 5vh;
    display: flex;
    align-items: center;
}

h2 {
    font-size: 1.5rem;
    color: #fff;
}

[contenteditable]:focus-visible {
    outline: 1px solid green;
}

.todo-container {
    height: 95vh;
    overflow: hidden;
}

.status {
    overflow: auto;
    height: 95vh;
}

#no_status {
    /* background: rgb(196,174,173,.5); */
    background: rgba(253, 253, 150, .6);
}

#in_progress {
    /* background: rgb(196,174,173,.3); */
    background: rgba(251, 206, 177, .5);
}

#completed {
    /* background: rgb(178,190,181,.3) */
    background: rgba(160, 202, 138, .5);
}

#add_btn {
    width: 100%;
    margin: 20px 0 0 0;
}

.todo_wrapper {
    filter: drop-shadow(-1px 6px 8px rgba(0, 0, 0, 0.5));
}

.todo {
    background: #fff;
    padding: 20px;
    text-align: left;
    margin: 20px 0;
}

.todo_content {
    width: 90%;
    min-height: 50px;
    display: inline-block;
    font-size: 14px;
}

.modal-body textarea {
    height: 60px;
    width: 100%;
    margin-bottom: 10px;
}

.modal-body input {
    display: block;
    width: 100%;
}